.panda-bg-info {
  background-color: #feeae9;
}
/* .catagories img {
  width: 100%;
} */
.panda-bg-warning {
  background-color: #ff267b;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
  color: #ffff;
}
